<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UseFakeConnection" value="false" />
    <add key="JenkinsURL" value="http://jenkins.cvlnt.vla.gov.uk" />
    <add key="JenkinsUser" value="e304814" />
    <add key="JenkinsApiToken" value="3c20d8b2e67145bf40bd480c05d4c133" />
  </appSettings>
</configuration>