<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UseFakeConnection" value="true" />
    <add key="JenkinsURL" value="jenkins url" />
    <add key="JenkinsUser" value="jenkins user" />
    <add key="JenkinsApiToken" value="jenkins user api token" />
  </appSettings>
</configuration>